/* apply font to body */
body {
    font-family: 'Ubuntu', sans-serif; 
    margin: 0;
    padding: 0;
}

/* header styling */
header {
    background-color: #230f47; 
    color: white;
    padding: 20px;
    text-align: center;
}

/* header text */
h1 {
    font-weight: 400;
}

/* navbar styling */
#navbar {
    overflow: hidden;
    background-color: #AE39E6; 
    border-bottom: 15px solid #230f47; 
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #230f47; 
    color: #E639E4; 
}

/* main container styling */
#container {
    margin: 2% 5% 100px 5%; 
    padding: 10px;
}

/* card styling */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* card title */
.card-title {
    text-align: center;
    font-size: 2em;
    color: #230f47; 
    font-weight: 400;
}

/* card content */
.card-content {
    padding: 2px 16px;
}

/* links in card content */
.card-content a {
    color: #230f47; 
    text-decoration: none; 
}

.card-content a:hover {
    color: #AE39E6; 
}

/* footer styling */
footer {
    background-color: #230f47; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-weight: 400;
    position: fixed; 
    left: 0; 
    bottom: 0;
    width: 100%;
}

.footer-left {
    font-style: italic;
}

.footer-right {
    padding-right: 30px; 
}

.footer-right a {
    color: white;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

/* movies table */
#movies {
    border-collapse: collapse; 
    width: 100%; 
    margin-bottom: 30px; 
}

#movies th {
    padding-top: 12px; 
    padding-bottom: 12px; 
    text-align: left; 
    background-color: #230f47; 
    color: white;
}

#movies td {
    border: 1px solid #ddd; 
    padding: 8px; 
}
